Checks: "-*,bugprone-*,clang-analyzer-*,modernize-*,performance-*,readability-*,misc-*"
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'
SystemIncludes: false
CheckOptions:
  - key: modernize-use-trailing-return-type.IgnoreMacros
    value: '1'
