Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  clang-analyzer-*

WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-*

HeaderFilterRegex: 'src/.*'

CheckOptions:
  - key: cppcoreguidelines-owning-memory.IgnoreSmartPointers
    value: true
