name: CMake Build

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check formatting
        run: |
          clang-format --version
          clang-format --dry-run --Werror $(git ls-files 'src/*.cpp' 'src/*.h')
  
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        run: |
          choco install glslang llvm -y

      - name: Install dependencies (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libwayland-dev \
            libxkbcommon-dev \
            xorg-dev

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew update
          brew install cmake

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Python dependencies
        run: pip install jinja2

      - name: Validate shaders
        run: |
          glslangValidator -G --glsl-version 410 resources/shaders/*

      - name: Cache CMake dependencies
        uses: actions/cache@v4
        with:
          path: build/_deps
          key: ${{ runner.os }}-deps-${{ hashFiles('CMakeLists.txt') }}
          restore-keys: |
            ${{ runner.os }}-deps-

      - name: Configure CMake
        run: >
         cmake -S . -B build -G Ninja
         --log-level=VERBOSE 
         -DCMAKE_BUILD_TYPE=Release
         -DENABLE_CLANG_TIDY=ON

      - name: Build
        run: cmake --build build --parallel --config Release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: VoxelEditor-run${{ github.run_number }}-${{ runner.os }}
          path: |
            build/bin/**/voxel_editor*
            build/bin/**/resources
