name: check

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: lukka/get-cmake@latest
    - uses: lukka/run-cmake@v10
    
